* {
  font-size: 2rem;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

input[type="button"] {
  background-color: black;
  color: #fff;
  width: 100%;
  border: solid black 2px;
}

input[type="text"] {
  background-color: white;
  width: 100%;
  border: solid black 2px;
}

.title {
  text-align: center;
  margin-bottom: 0.5rem;
}
